table {
  width: 90%;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 700;
  border-collapse: collapse;
}

table thead tr {
  color: #fff;
  background: #2196F3;
  border-radius: 20px;
}

table thead tr th {
  border-right: 1px solid #fff;
  padding: 26px;
  text-align: left;
}

table tbody tr td {
  border-right: 1px solid rgb(235, 235, 235);
  padding: 26px;
  text-align: left;
}

table tbody tr {
  margin-top: 20px;
  color: #000;
  border-radius: 20px;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.25);
  transition: .5s ease all;
}

table tbody tr:hover {
  color: #fff;
  background: #2196F3;
  transition: .5s ease all;
  cursor: pointer;
}

table tbody tr, table thead tr {
  display: grid;
  grid-template-columns: 0.5fr 4fr 2fr;
  text-align: center;
}

.table-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  table {

    font-size: 18px;

  }

  table thead tr th, table tbody tr td  {
    padding: 15px;
  }
}
